player-connection-mode=Listen
player-connection-guid=2850553461
player-connection-debug=0
player-connection-project-name=Fight-In-The-Woods
player-connection-ip=169.254.160.228
player-connection-ip=169.254.93.111
player-connection-ip=192.168.1.4
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
